In [1]:
import pandas as pd

In [4]:
films= pd.read_csv("Film-Names.csv")
print(films.shape)

(3808, 1)

In [5]:
films.head()

                 0
0  ENTER THE ANIME
1      DARK FORCES
2          THE APP
3   THE OPEN HOUSE
4      KAALI KHUHI

In [6]:
films = films[films['0'].str.len() <= 50]
print(films.shape)

(3699, 1)

In [8]:
babies = pd.read_csv("Popular-Baby-Names-Final.csv")
babies.head()

        Name
0  GERALDINE
1        GIA
2     GIANNA
3    GISELLE
4      GRACE

In [11]:
films = films[~films['0'].isin(babies['Name'])]
films = films.replace(';;;;;', '', regex=True)

print(films.shape)

(3674, 1)

In [12]:
films.to_csv('Films-Actualizado.csv', index=False)