In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("Film-Names.csv")

In [3]:
df.head()

                 0
0  ENTER THE ANIME
1      DARK FORCES
2          THE APP
3   THE OPEN HOUSE
4      KAALI KHUHI

In [5]:
df = df[df['0'].str.len() <= 50]

In [6]:
df.to_csv('Films-Actualizado.csv', index=False)